$black: #000;
$white: #fff;

$bg-color: #fff;

$font-sans: 'Arimo', Helvetica, sans-serif;
$font-serif: Georgia, serif;
$font-color: #4e4e4e;
$line-height: 1.2;
$font-size: 14px;

$desktop-large: 1919px;
$desktop-middle: 1365px;
$desktop: 1023px;
$mobile: 767px;
