<div class="about-product-block">
	<a href="#" name="about"></a>
	<div class="container">
	{% block content %}
			<div class="holder-about">
				{% include '../utilities/_slider-img.twig' %}
				{% include '../utilities/_about-product.twig' %}
				{% include '../utilities/_buy.twig' %}
				{% include '../utilities/_delivery.twig' %}
			</div>
	{% endblock %}
	</div>
</div>