<div class="articles-block">
	<a href="#" name="articles"></a>
	<div class="container">
		<div class="holder-title">
			<h2 class="title-block">Статьи</h3>
		</div>
		<ul>
			<li>
				<div class="new">Горячие новинки</div>
				<div class="textblock">
					<div class="title">Старт продаж нового «КЕКС»: для ярких эмоций и впечатлений</div>
					<div class="description">Сегодня в сети гаджетов и аксессуаров  «КЕКС», на радость любителям экстримальной съемки и фанатам драйва, стартовали продажи...</div>
					<a href="#" class="more">Подробнее</a>
				</div>
			</li>
			<li>
				<div class="new">Горячие новинки</div>
				<div class="textblock">
					<div class="title">Старт продаж нового «КЕКС»: для ярких эмоций и впечатлений</div>
					<div class="description">Сегодня в сети гаджетов и аксессуаров  «КЕКС», на радость любителям экстримальной съемки и фанатам драйва, стартовали продажи...</div>
					<a href="#" class="more">Подробнее</a>
				</div>
			</li>
		</ul>
		<a href="#" class="all-articles">Смотреть все Статьи</a>
	</div>
</div>


