<div class="slider-block">
	<div class="container">
		<ul class="breadcrumbs">
			<li>
				<a href="#">Главная</a>
			</li>
			<li>
				<a href="#">Мобильные телефоны и смартфоны</a>
			</li>
			<li>
				<a href="#" class="current">Samsung Galaxy J7 J700H/DS Black</a>
			</li>
		</ul>
		<h1 class="title-slider">Samsung Galaxy J7 J700H/DS Black</h1>
		<ul class="products-menu">
			<li class="catalog">
				<a href="#">Каталог товаров</a>
				<ul class="sub-menu">
					<li>
						<a href="#">Телефоны</a>
					</li>
					<li>
						<a href="#">Планшеты</a>
					</li>
					<li>
						<a href="#">Apple</a>
					</li>
					<li>
						<a href="#">Samsung</a>
					</li>
					<li>
						<a href="#">Гаджеты</a>
					</li>
					<li>
						<a href="#">Электротранспорт</a>
					</li>
					<li>
						<a href="#">Телевизоры</a>
					</li>
					<li>
						<a href="#">Ноутбуки</a>
					</li>
					<li>
						<a href="#">Фото</a>
					</li>
					<li>
						<a href="#">Уценка</a>
					</li>
					<li >
						<a href="#" class="action">Акции</a>
					</li>
				</ul>
			</li>
			<li class="border">
				<a href="#about">Всё о товаре</a>
			</li>
			<li class="border">
				<a href="#specification">Характеристики</a>
			</li>
			<li class="border">
				<a href="#comment">Отзывы</a>
			</li>
			<li class="border">
				<a href="#video">Обзоры</a>
			</li>
			<li class="border">
				<a href="#articles">Статьи</a>
			</li>
		</ul>
		<ul class="main-slider">
			<li>
				<img src="img/slide-2.jpg" width="1576" height="823" alt="Image description">
			</li>
			<li>
				<img src="img/slide-1.jpg" width="1576" height="823" alt="Image description">
			</li>
			<li>
				<img src="img/slide-2.jpg" width="1576" height="823" alt="Image description">
			</li>
			<li>
				<img src="img/slide-1.jpg" width="1576" height="823" alt="Image description">
			</li>
		</ul>
	</div>
</div>