<div class="specifications-block">
	<a href="#" name="specification"></a>
	<div class="container">
		<div class="holder-block">
			<div class="specifications">
				<div class="holder-title">
					<h2 class="title-block">Технические характеристики <span class="model">Samsung Galaxy J7 J700H/DS Black</span></h2>
				</div>
				<table>
					<tbody>
						<tr>
							<td>Операционная система</td>
							<td>Android</td>
						</tr>
						<tr>
							<td>Цвет</td>
							<td>Black</td>
						</tr>
						<tr>
							<td>Поддержка нескольких СИМ-карт</td>
							<td>2x</td>
						</tr>
						<tr>
							<td>Процессор</td>
							<td>Восьмиядерный Samsung Exynos 7580 (1.5 ГГц)</td>
						</tr>
						<tr>
							<td>Размеры и вес</td>
							<td>152.4 x 78.6 x 7.5 мм <br> Вес: 171 г</td>
						</tr>
						<tr>
							<td>Форм-фактор телефона</td>
							<td>Сенсорный моноблок</td>
						</tr>
						<tr>
							<td>Дисплей</td>
							<td>5.5” Super AMOLED+, сенсорный, емкостный, Multi-Touch<br>Разрешение: 1280 x 720</td>
						</tr>
						<tr>
							<td>Сигналы вызова</td>
							<td>Вибровызов<br>Полифонические мелодии<br>MP3 в качестве звонка</td>
						</tr>
						<tr>
							<td>Камера</td>
							<td>Основная: 13 Мпк<br>LED-вспышка<br>Автофокус Запись видео: FHD (1920 x 1080), 30fps<br>		 Фронтальная камераЖ 5 Мп</td>
						</tr>
						<tr>
							<td>Стандарт</td>
							<td>2G (GSM): 850 / 900 / 1800 / 1900 МГц<br>3G (UMTS): 850 / 900 / 1900 / 2100 МГц</td>
						</tr>
					</tbody>
				</table>
			</div>
			<section class="comments">
				<a href="#" name="comment"></a>
				<div class="holder-title">
					<h2 class="title-block">Отзывы покупателей <span class="count-buyers">(14)</span></h2>
				</div>
				<article class="comment">
					<footer>
						<div class="holder-autor">
							<div class="autor">Михаил</div>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star-half-o"></span>
								<span class="fa fa-star-o"></span>
							</div>
						</div>
						<div class="date">
							<time datetime="2015-10-26">26 октября 2016</time>
						</div>
					</footer>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. </p>
				</article>
				<article class="comment">
					<footer>
						<div class="holder-autor">
							<div class="autor">Ростислав</div>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star-half-o"></span>
								<span class="fa fa-star-o"></span>
							</div>
						</div>
						<div class="date">
							<time datetime="2015-10-26">26 октября 2016</time>
						</div>
					</footer>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi...<a href="#"> Еще</a></p>
				</article>
				<article class="comment">
					<footer>
						<div class="holder-autor">
							<div class="autor">Ростислав</div>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star-half-o"></span>
								<span class="fa fa-star-o"></span>
							</div>
						</div>
						<div class="date">
							<time datetime="2015-10-26">26 октября 2016</time>
						</div>
					</footer>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi...<a href="#"> Еще</a></p>
				</article>
				<ul class="reviews">
					<li>
						<a href="#">Смотреть все отзывы</a>
					</li>
					<li>
						<a href="#">Оставить отзыв</a>
					</li>
				</ul>
			</section>
		</div>
	</div>
</div>