<div class="viewed-block">
	<div class="container">
		<div class="holder-title">
			<h2 class="title-block">Просмотренные</h2>
		</div>
		<div class="holder-viewed">
		{% block content %}
			<ul class="block-slider">
				<li>
					{% include '../utilities/_keks-complect.twig' %}
				</li>
				<li>
					{% include '../utilities/_new-product.twig' %}
				</li>
				<li>
					{% include '../utilities/_keks-product.twig' %}
				</li>
				<li>
					{% include '../utilities/_top-product.twig' %}
				</li>
				<li>
					{% include '../utilities/_sale-product.twig' %}
				</li>
				<li>
					{% include '../utilities/_new-product.twig' %}
				</li>
			</ul>
		{% endblock %}
		</div>
	</div>
</div>