.burger-btn {
	position: absolute;
	top: 50%;
	left: 2%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	}
.icon-bar {
	display: block;
	width: 43px;
	height: 2px;
	background-color: #fa947f;
	margin: 7px 0 0 ;
}