.section-strict {
    position: relative;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
    .container {
        @include container (600px, 0 10px);
    }
    .text-block {
        margin: 0 0 50px;
        @include media(mobile) {
            margin-bottom: 15px;
        }
    }
    p {margin: 0;}
    h1 {
        font-size: $font-size+74;
        margin: 0 0 35px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            background: #15a4fa;
            bottom: 0;
            left: 0;
            @include media(mobile) {
                background: none;
            }       
        }
        @include media(mobile) {
            font-size: $font-size+24;
            margin-bottom: 10px;
        }
    }
}
.section-block {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    color: $white;
}
.section-design {
    text-align: center;
    background: #f7f8fa;
    .container {
        @include container ( 1140px, 75px 10px 75px);
        @include media(mobile) {
            padding: 15px 10px;
        } 
    }
}
.section-work {
    .container {
        @include container ( 1140px, 75px 10px 75px);
        @include media(mobile) {
            padding: 15px 10px;
        }
    }
    .text-block {
        text-align: center;
        margin: 0 0 65px;
        p {margin: 0;}
        @include media(mobile) {
            margin-bottom: 15px;
        }
    }
    .thumbnails {
        text-align: center;
        margin: 0 0 0 -30px;
        font-size: 0;
        line-height: 0;
        @include media (mobile-small) {
            margin: 0;
        } 
        li {
            display: inline-block;
            width: 30%;
            vertical-align: top;
            margin: 0 0 30px 30px;
            img {
                display: block;
                width: 100%;
                height: auto;
            }
            @include media (mobile-small) {
                width: 100%;
                margin: 0 0 15px;
            }
        }
    }
}
.section-form {
    background: #2d3950;
    text-align: center;
    .container {
        @include container ( 560px, 50px 10px 75px);
        @include media(mobile) {
            padding: 15px 10px;
        }
    }
    h2 {
        color: $white;
    }
    .text-block {
        margin: 0 0 45px;
        p {margin: 0;}
        @include media(mobile) {
            margin-bottom: 15px;
        }
    }
}