.footer {
	&__top {
		padding: 60px 0;
		border-bottom: 1px solid #e8e8e8;
		.menu-plus {
			display: flex;
			justify-content: space-between;
			padding: 0 30px;
			li {
				display: flex;
				align-items: center;
				margin: 0 27px;
			}
			[class^="icon-"], [class*=" icon-"] {
				font-size: 40px;
				margin: 0 12px 0 0;
				color: #ffcb05;
			}
		}
	}
	&__bottom {
		padding: 48px 0;
		display: flex;
		justify-content: space-between;
		.column {
			padding: 0 83px;
			&:last-child {
				padding-right: 0;
			}
		}
		.logo {
			margin: 0 0 27px;
		}
		p {
			font-size: 11px;
			color: #919191;
			margin: 0 0 27px;
		}
		.logo-scalar {
			font-size: 0;
			line-height: 0;
			background: url('../img/logo-scalar.png') no-repeat;
			width: 85px;
			height: 95px;
			display: block;
			a {
				display: block;
				height: 100%;
			}
		}
		.info {
			a {
				color: #787878;
				&:hover {
					color: #e88800;
				}
			}
			.action {
				color: #da2122;
			}
			ul {
				padding: 15px 0 0;
			}
			li {
				margin: 0 0 10px;
			}
		}
		.section {
			a {
				color: #787878;
				&:hover {
					color: #e88800;
				}
			}
			.action {
				color: #da2122;
			}
			ul {
				padding: 15px 0 0;
			}
			li {
				margin: 0 0 10px;
			}
		}
		.contacts {
			color: #787878;
			.phone {
				padding: 15px 0 0;
				dt {
					margin: 0 0 10px;
				}
				dd {
					font-weight: 700;
					font-size: 16px;
					color: #333;
					margin: 0 0 10px;
				}
			}
			p {
				font-size: 11px;
				margin: 0 0 26px;
			}
			.mailto {
				margin: 0 0 27px;
				dt, dd {
					display: inline-block;
				}
				a {
					color: #e88800;
					font-weight: 700;
					&:hover {
						color: #787878;
					}
				}
			}
			.payment {
				padding: 32px 0 0;
				border-top: 1px solid #ededed;
				display: flex;
			}
			.fa {
				font-size: 25px;
				margin:0 9px 0 0;
			}
		}
		.news {
			.links {
				display: flex;
				padding: 15px 0 30px;
				li {
					margin: 0 12px 0 0;
				}
				.fa {
					width: 42px;
					height: 42px;
					border-radius: 50%;
					background: #ededed;
					font-size: 20px;
					color: #787878;
					position: relative;
					&:before {
						position: absolute;
						left: 13px;
						top: 12px;
					}
					&:hover {
						opacity: .7;
					}
				}
			}
			.description {
				font-size: 12px;
				margin: 0 0 20px
			}
			.youtube {
				display: inline-block;
				padding: 9px 18px 9px 50px;
				background: rgb(241,89,34); /* Old browsers */
				background: -moz-linear-gradient(left,  rgba(241,89,34,1) 0%, rgba(216,27,33,1) 99%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left,  rgba(241,89,34,1) 0%,rgba(216,27,33,1) 99%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right,  rgba(241,89,34,1) 0%,rgba(216,27,33,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f15922', endColorstr='#d81b21',GradientType=1 ); /* IE6-9 */
				color: #fff;
				position: relative;
				border-radius: 5px;
				margin: 0 18px 0 0;
				&:before {
					content: '\f16a';
					font: 16px/20px 'FontAwesome';
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 18px;
				}
				&:hover {
					opacity: .7;
				}
			}
			.count {
				display: inline-block;
				padding: 9px 12px;
				position: relative;
				border: 1px solid #e8e8e8;
				border-radius: 5px;
				color: #787878;
				&:before {
					content: '';
					position: absolute;
					left: -8px;
					top: 50%;
					transform: translateY(-50%);
					width: 0;
					height: 0;
					border-top: 7px solid transparent;
					border-right: 7px solid #e8e8e8;
					border-bottom: 7px solid transparent;
				}
				&:after {
					content: '';
					position: absolute;top: 50%;
					transform: translateY(-50%);
					left: -7px;
					width: 0;
					height: 0;
					border-top: 7px solid transparent;
					border-right: 7px solid #fff;
					border-bottom: 7px solid transparent;
				}
				&:hover {
					opacity: .7;
				}
			}
		}
	}
}
@include media (desktop-large) {
	.footer {
		&__bottom {
			.column {
				padding-right: 30px;
				padding-left: 30px;
			}
		}
	}
}
@include media (desktop-middle)  {
	.footer {
		&__top {
			.menu-plus {
				padding-left: 0;
				padding-right: 0;
				li {
					margin-right: 5px;
					margin-left: 5px;
				}
			}
		}
		&__bottom {
			.column {
				padding-right: 5px;
				padding-left: 5px;
			}
		}
		&__logo {
			padding-right: 20px;
		}
	}
}
@include media (desktop) {
	.footer  {
		&__top {
			.menu-plus {
				li {
					flex-direction: column;
					text-align: center;
				}
				[class^="icon-"] {
					margin-right: 0;
					margin-bottom: 15px;
				}
			}
		}
		&__bottom {
			flex-wrap: wrap;
			justify-content: center;
			.column {
				margin-bottom: 15px;
				padding-right: 15px;
    			padding-left: 15px;
			}
		}
	}
}
@include media (mobile)  {
	.footer {
		&__top {
			display: none;
		}
		&__logo {
			padding-right: 0;
			p {
				display: none;
			}
			.logo-scalar {
				display: none;
			}
		}
		&__bottom {
			text-align: center;
			.info {
				display: none;
			}
			.section {
				display: none;
			}
			.contacts {
				padding: 0;
				.payment {
					display: none;
				}
			}
			.news {
				padding: 0;
				.links {
					li {
						margin: 0;
						padding: 0 10px;
					}
				}
			}
		}
	}
}