<footer class="footer">
	<div class="container">
		<div class="footer__top">
			<ul class="menu-plus">
				<li>
					<span class="icon-box"></span>
					<span class="title">
						Бесплатная доставка и возврат
					</span>
				</li>
				<li>
					<span class="icon-star"></span>
					<span class="title">
						Гарантия от нашего магазина!
					</span>
				</li>
				<li>
					<span class="icon-pie-graph" ></span>
					<span class="title">
						Возможность оплаты частями
					</span>
				</li>
				<li>
					<span class="icon-heart"></span>
					<span class="title">
						Гарантированные бонусы за покупки
					</span>
				</li>
				<li>
					<span class="icon-bar-graph-2"></span>
					<span class="title">
						Лучшие ценовые предложения
					</span>
				</li>
				<li>
					<span class="icon-help"></span>
					<span class="title">
						Быстрая техническая поддержка
					</span>
				</li>
			</ul>
		</div>
		<div class="footer__bottom">
			<div class="footer__logo">
				<strong class="logo">
					<a href="#">Logo</a>
				</strong>
				<p>© Интернет-магазин «КЕКС» крутая электроника 2016</p>
				<strong class="logo-scalar">
					<a href="#">Logo Scalar</a>
				</strong>
			</div>
			<div class="info column">
				<h3 class="title-footer">Инфо</h3>
				<ul>
					<li>
						<a href="#">Магазины</a>
					</li>
					<li>
						<a href="#">Доставка и Оплата</a>
					</li>
					<li>
						<a href="#">Гарантия</a>
					</li>
					<li>
						<a href="#">Кредит</a>
					</li>
					<li>
						<a href="#">О Компании</a>
					</li>
					<li>
						<a href="#">Контакты</a>
					</li>
					<li>
						<a href="#" class="action">Акции</a>
					</li>
				</ul>
			</div>
			<div class="section column">
				<h3 class="title-footer">Разделы</h3>
				<ul>
					<li>
						<a href="#">Телефоны</a>
					</li>
					<li>
						<a href="#">Планшеты</a>
					</li>
					<li>
						<a href="#">Apple</a>
					</li>
					<li>
						<a href="#">Samsung</a>
					</li>
					<li>
						<a href="#">Гаджеты</a>
					</li>
					<li>
						<a href="#">Электротранспорт</a>
					</li>
					<li>
						<a href="#">Телевизоры</a>
					</li>
					<li>
						<a href="#">Ноутбуки</a>
					</li>
					<li>
						<a href="#">Фото</a>
					</li>
				</ul>
			</div>
			<div class="contacts column">
				<h3 class="title-footer">Контакты</h3>
				<dl class="phone">
					<dt>Телефон поддержки:</dt>
					<dd>(050) 997-99-69</dd>
				</dl>
				<p>Мы доступны с 8 до 20. Без выходных</p>
				<dl class="mailto">
					<dt>email:</dt>
					<dd>
						<a href="mailto:info@kekc.com.ua">info@kekc.com.ua</a>
					</dd>
				</dl>
				<ul class="payment">
					<li>
						<span class="fa fa-cc-visa"></span>
					</li>
					<li>
						<span class="fa fa-cc-mastercard"></span>
					</li>
					<li>
						<span class="fa fa-cc-discover"></span>
					</li>
					<li>
						<span class="fa fa-cc-amex"></span>
					</li>
					<li>
						<span class="fa fa-cc-paypal"></span>
					</li>
					<li>
						<span class="fa fa-cc-stripe"></span>
					</li>
				</ul>
			</div>
			<div class="news column">
				<h3 class="title-footer">Следите за новостями</h3>
				<ul class="links">
					<li>
						<a href="#" class="fa fa-twitter"></a>
					</li>
					<li>
						<a href="#" class="fa fa-facebook"></a>
					</li>
					<li>
						<a href="#" class="fa fa-google-plus"></a>
					</li>
					<li>
						<a href="#" class="fa fa-instagram"></a>
					</li>
				</ul>
				<h3 class="title-footer">Наш канал</h3>
				<div class="description">Регулярные обзоры на самую крутую технику:</div>
				<div class="holder-youtube">
					<a href="#" class="youtube">Youtube</a>
					<a href="#" class="count">360k</a>
				</div>
			</div>
		</div>
	</div>
</footer>