<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="btn-menu fa fa-bars"></div>
			<nav class="header__nav">
				<ul class="nav-menu">
					<li>
						<a href="#">Магазины</a>
					</li>
					<li>
						<a href="#">Доставка и оплата</a>
					</li>
					<li>
						<a href="#">Гарантия</a>
					</li>
					<li>
						<a href="#">Кредит</a>
					</li>
					<li>
						<a href="#">О Компании</a>
					</li>
					<li>
						<a href="#">Контакты</a>
					</li>
					<li>
						<a href="#" class="action">Акция</a>
					</li>
				</ul>
			</nav>
			<div class="header__login">
				<a class="check-in">Регистрация</a>
				<a class="login">Вход</a>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="container">
			<strong class="logo">
				<a href="#">Logo</a>
			</strong>
			<div class="holder-form">
				<form action="#" class="search-form">
					<fieldset>
						<div class="holder-box">
							<input type="text" id="search" required>
							<label for="search"></label>
							<input type="button" value="Поиск">
						</div>
					</fieldset>
				</form>
				<div class="holder-select">
					<select name="tel-select">
						<option value="tel-1">(050) 997-99-69</option>
						<option value="tel-2">(050) 997-99-69</option>
						<option value="tel-3">(050) 997-99-69</option>
					</select>
				</div>
				<div class="call-back">
					<span>Заказать звонок</span>
				</div>
			</div>
			<ul class="wish">
				<li>
					<a href="#" class="fa fa-random"></a>
					<span class="title">Сравнить</span>
				</li>
				<li>
					<a href="#" class="fa fa-heart"></a>
					<span class="title">Желания</span>
				</li>
				<li>
					<a href="#" class="fa fa-power-off"></a>
					<span class="title">Генератор</span>
				</li>
			</ul>
			<div class="basket">Пусто</div>
		</div>
	</div>
</header>